# Project exclude paths
/project/project/target/
/project/target/
/project/.bloop
/target/
/target/scala-2.13/classes/
/output
/.*
/jobs
/venv
project/project/metals.sbt
project/project/.bloop/bloop.settings.json
project/project/.bloop/wust-dna-akkaless-build-build.json
project/project/project/metals.sbt
project/project/project/project/target/config-classes/$7622247440a2edd5d623.cache
project/project/project/project/target/config-classes/$7622247440a2edd5d623.class
project/project/project/project/target/config-classes/$7622247440a2edd5d623$.class
project/project/project/target/config-classes/$a06b66bc296904ecc217.cache
project/project/project/target/config-classes/$a06b66bc296904ecc217.class
project/project/project/target/config-classes/$a06b66bc296904ecc217$.class
project/project/project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/inputs
project/project/project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/output
project/project/project/target/streams/_global/_global/_global/streams/out
project/project/project/target/streams/_global/_global/csrLogger/_global/streams/out
project/project/project/target/streams/_global/csrConfiguration/_global/streams/out
project/project/project/target/streams/_global/csrProject/_global/streams/out
project/project/project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/input_dsp
project/project/project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/output_dsp
project/project/project/target/streams/_global/ivyConfiguration/_global/streams/out
project/project/project/target/streams/_global/ivySbt/_global/streams/out
project/project/project/target/streams/_global/moduleSettings/_global/streams/out
project/project/project/target/streams/_global/projectDescriptors/_global/streams/out
project/project/project/target/streams/_global/scalaCompilerBridgeScope/_global/streams/out
project/project/project/target/streams/_global/update/_global/streams/out
project/project/project/target/streams/compile/_global/_global/compileBinaryFileInputs/previous
project/project/project/target/streams/compile/_global/_global/compileOutputs/previous
project/project/project/target/streams/compile/_global/_global/compileSourceFileInputs/previous
project/project/project/target/streams/compile/_global/_global/dependencyClasspathFiles/previous
project/project/project/target/streams/compile/_global/_global/discoveredMainClasses/data
project/project/project/target/streams/compile/_global/_global/managedSourcePaths/previous
project/project/project/target/streams/compile/compile/_global/streams/out
project/project/project/target/streams/compile/compileIncremental/_global/streams/export
project/project/project/target/streams/compile/compileIncremental/_global/streams/out
project/project/project/target/streams/compile/copyResources/_global/streams/copy-resources
project/project/project/target/streams/compile/copyResources/_global/streams/out
project/project/project/target/streams/compile/dependencyClasspath/_global/streams/export
project/project/project/target/streams/compile/exportedProducts/_global/streams/export
project/project/project/target/streams/compile/externalDependencyClasspath/_global/streams/export
project/project/project/target/streams/compile/internalDependencyClasspath/_global/streams/export
project/project/project/target/streams/compile/managedClasspath/_global/streams/export
project/project/project/target/streams/compile/unmanagedClasspath/_global/streams/export
project/project/project/target/streams/compile/unmanagedJars/_global/streams/export
project/project/project/target/streams/runtime/dependencyClasspath/_global/streams/export
project/project/project/target/streams/runtime/exportedProducts/_global/streams/export
project/project/project/target/streams/runtime/externalDependencyClasspath/_global/streams/export
project/project/project/target/streams/runtime/fullClasspath/_global/streams/export
project/project/project/target/streams/runtime/internalDependencyClasspath/_global/streams/export
project/project/project/target/streams/runtime/managedClasspath/_global/streams/export
project/project/project/target/streams/runtime/unmanagedClasspath/_global/streams/export
project/project/project/target/streams/runtime/unmanagedJars/_global/streams/export
test_config.json
project/metals.sbt
